extends _base_layout

block title
  | Hello

block body
  div.container
    div.row
      div.col-md-12
        h1 I'm Narcissa.
        p I track what you do.
    div.row
      div.col-md-12
        h2 Recent Runs
        ul(data-bind="foreach: activities, visible: activities().length > 0")
          li
            p(data-bind="text: summary")
    div.row
      div.col-md-12
        h2 Recent Tracks
        ul(data-bind="foreach: recentTracks, visible: recentTracks().length > 0")
          li
            a(data-bind="attr: {href: url}, text: summary")
    div.row
      div.col-md-12
        h2 Addictive Tracks
        ul(data-bind="foreach: addictiveTracks, visible: addictiveTracks().length > 0")
          li
            a(data-bind="attr: {href: url}, text: summary")

block scripts
  script(src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-debug.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/sprintf/0.0.7/sprintf.min.js")
  script(src="/scripts/vendor/squel.min.js")
  script(src="/scripts/narcissa.js")
