extends _base_layout

block title
  | Hello

block head
  script(type="text/javascript" src="//use.typekit.net/qhz6bju.js")
  script(type="text/javascript").
    try{Typekit.load();}catch(e){}
  script(src='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.js')
  link(href='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css' rel='stylesheet')

block body
  div.container
    div.row
      div.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3.narcissa-intro
        h1: a(href="http://mplewis.com") I'm Matt.
        h1 
          strong: a(href="https://github.com/mplewis/narcissa") Narcissa
          |  tracks how I live.
        hr
    span.narcissa-ui(data-bind="visible: !showUI()")
      div.row
        div.col-md-6.col-md-offset-3
          h1 Stalking...
    span.narcissa-ui(data-bind="visible: showUI")
      div.row
        div.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
          div.narcissa-item(data-bind="with: currentPlace")
            h1 This is where Matt is right now.
            div.map-container
              div#map-current-place.map
              div#map-current-place-overlay.map-overlay
                h1
                  | "
                  span(data-bind="text: place_name")
                  | "
                p(data-bind="typed: timeago")
      div.row
        div.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
          div.narcissa-item(data-bind="with: lastActivity")
            h1 Here's where Matt's last workout took him.
            div.map-container
              div#map-last-workout.map
              ul.map-overlay
                h1
                  | "
                  span(data-bind="text: name")
                  | "
                p(data-bind="typed: distance_ago")
                li(data-bind="typed: pace_verbose")
      div.row
        div.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
          div.narcissa-item
            h1 These are the last songs Matt played.
            ul(data-bind="foreach: recentTracks, visible: recentTracks().length > 0")
              div.row
                div.col-xs-4.left-col
                  p(data-bind="typed: timeago")
                div.col-xs-8
                  a(data-bind="attr: {href: url}")
                    p(data-bind="typed: artist_track")
      div.row
          div.narcissa-item
        div.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
            h1 Matt's been listening to these songs a lot lately.
            ul(data-bind="foreach: addictiveTracks, visible: addictiveTracks().length > 0")
              div.row
                div.col-xs-4.left-col
                  p(data-bind="typed: plays_wk")
                div.col-xs-8
                  a(data-bind="attr: {href: url}")
                    p(data-bind="typed: artist_track")
      div.row
        div.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3.narcissa-footer
          hr
          p I update this data every minute or two. -n

block scripts
  script(src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/sprintf/0.0.7/sprintf.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.0/jquery.timeago.min.js")
  script(src="/scripts/vendor/squel.min.js")
  script(src="/scripts/vendor/Polyline.encoded.js")
  script(src="/scripts/vendor/typed.js")
  script(src="/scripts/narcissa.js")
