body
  margin-top: 40px
  margin-bottom: 40px

ul
  margin: 0
  padding: 0
  li
    list-style-type: none

a
  color: inherit

.map-container
  border-radius: 6px
  position: relative

.map
  height: 300px
  width: 100%

.map-overlay
  background: rgba(255, 255, 255, 0.9)
  border-radius: 6px
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2)
  position: absolute
  top: -10px
  right: -10px
  padding-top: 10px
  padding-bottom: 10px
  padding-left: 16px
  padding-right: 16px
  text-align: right
  h1, p
    margin-top: 0
    margin-bottom: 0

.narcissa-intro
  font-family: 'omnes-pro'

.narcissa-ui
  font-family: 'courier-prime'
  h1, h2, h3, h4, h5, h6
    font-family: 'tangerine'

.left-col
  text-align: right
